//variables
$baseColor : #e74c3c;

.def-loader{
  display: flex;
  align-items: center;
  justify-content: center;
  background: $baseColor;
  min-height: 100vh;
  &__clock{
    width: 100px;
    height: 100px;
    margin: 20px;
    display:inline-block;
  }
}